:root {
  --f7-theme-color: #28b463 ;
  --f7-theme-color-rgb:  40, 180, 99;
  --f7-theme-color-shade:  #239b56;
  --f7-theme-color-tint: #2ecc71;
}

/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Your app custom styles here */
.bg-black {
  background-color:#455a64;
}
.bg-red {
  background-color: #ff3b30;
}
.block {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}
i.fa-solid {
  font-size:1.7rem;
  margin:5px;
  color:white;
}
.running-block-bottom {
  display:block;
}
.running-block-top {
  display:none;
}
.stat-text {
  font-size: 1.35rem;
  color: white;
  font-size:1.1rem;
  font-weight:light;
}
.stat-text #distance-unit {
  font-weight:light;
  text-transform: lowercase;
}
#map {
  height: 100%;
  width:100%;
}
#dashboard {
  height:100vh;
  position:relative;
}
#map {
}
#stats {
  /* height:30vh; */
  width:100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index:9;
}
#start-measuring {
  display:block;
}
#stop-measuring {
  display:none;
}
@media (min-width:500px) {
  #map-container {
    /* height:auto;
    min-height: 222px; */
  }
  #stats {
    height:auto;
  }
  .block {
    padding-top: 8px;
    padding-bottom: 10px;
  }
  .running-block-bottom {
    display:none;
  }
  .running-block-top {
    display:block;
  }
}